$gray: #404040;
$light-gray: #AAAAAA;
$gray-menu-background: #F2F2F2;
$gray-tab-background: #D2D2D2;
$table-gray: #7D869A;
$table-alt-row-gray: #F2F4F7;
$error-page-gray: #FAFAFA;
$error-font-gray: #CCCCCC;
$active-button: #3A3A3A;
$gray-button: #7D869A;
$white: #fff;
$black: #000;
$light-blue: #EDF5FF;
$blue-icon: #B0C6D8;
$font-color: #333333;
$light-green: #EDFFED;
